.chat-screen_texts{
    padding: 0;
    list-style-type: none; /* 리스트 기호 제거 */
}
.chat-screen_texts > .text{
    background-color: #F2F4F0;
    width: 280px;
    height: 50px;
    margin: 0 0 10px 0;
    padding: 10px;
    border-radius: 8px;
    line-height: 30px;
    position: relative;
    left: 20px;
}

.chat-screen_texts > .text::after{
    content: "";
    border-right: 16px solid #ecec7c;
    border-bottom: 16px solid transparent;
    /* 두 외곽선이 겹쳐 만들어진 사각형에서 하나를 투명하게 만들면 반이 지워져 삼각형 모양이 남게 됨 */
    position: absolute;
    top: 10px;
    left: -10px
}

.chat-screen_texts > .text:hover{
    background-color: #bfa8e9;
    color: white;
    transition: background-color 1500ms 200ms ease-in, color 1500ms 200ms ease-in;
}

.chat-screen_texts > .text:hover::after{
    border-right: 16px solid #bfa8e9;
    transition: border-right 1500ms 200ms ease-in;
}
